[Desktop Entry]
Name=Z.ai
Comment=AI Desktop Hub - Z.ai
Exec=AIDesktopHub --app=zai
Terminal=false
Type=Application
Icon=io.github.jgomezbau.AIDesktopHub.zai
Categories=Utility;Network;Chat;
StartupWMClass=AIDesktopHub-zai
X-Flatpak=
